html {
  width: 100%;
  height: auto;
  background-color: rgb(0, 0, 0);
}

/*                                                    HEADER                                              */

header {
  background-color: rgba(0, 0, 0, 0.5);
  height: 120px;
}

.home {
  width: 100px;
  height: auto;
  position: absolute;
  margin-top: -60px;
  margin-left: 20px;
}

.exp {
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.title {
  margin-left: 40%;
  color: white;
  font-family: "Courier New", Courier, monospace, sans-serif;
}

.bar {
  margin-left: 29%;
}

.menu {
  background-color: white;
  padding: 5px 10px 5px 10px;
  margin-left: 5px;
}

a:hover {
  background-color: gold;
}
/*                                                    Main  Acceuil                                                    */
.welcome 
{
  background-color: rgba(255, 255, 255, 0.5);
  width: auto;
  height: 800px;
  margin-left: 250px;
  margin-right: 250px;
  text-align: left;
}

.hello
{
  background-color: white;
  margin-left:250px;
  margin-right:250px;
  text-align: center;
}

.text
{
  background-color: white;
  margin-left:25px;
  margin-right:25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
/*                                                    Main  Qui Suis-Je ?                                              */

.main {
  width: auto;
  height: 800px;
  background-color: rgba(128, 128, 128, 0.5);
}
.par1 {
  background-color: rgba(255, 255, 255, 0.5);
  width: auto;
  height: 800px;
  margin-left: 500px;
  text-align: center;
}

.par2 {
  padding-top: 200px;
}

.img1 {
  position: absolute;
}
/*                                                    footer                                              */

footer {
  background-color: black;
  height: 120px;
}
